// Sexy mixins
@import "bourbon";
$breakpoints: (
  'mobile':  400px,
  'small'  : 767px,
  'medium' : 992px,
  'large'  : 1200px
);

@mixin respond-to($breakpoint) {
  // Retrieves the value from the key
  $value: map-get($breakpoints, $breakpoint);

  // If the key exists in the map
  @if $value != null {
    // Prints a media query based on the value
    @media (min-width: $value) {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

// Modifying Bootstrap
body {
  padding-top: 50px; // because we have the fixed top
}

[class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.container-fluid {
  margin: 0;
  padding: 0;
}

.navbar {
	border-radius: 0px;
	background-color: rgba(239, 239, 239, 1);
	background-image: none; // get rid of the gradient
  text-align: center;
}

.navbar-brand {
  text-align: center;
  float: none;
}

.panel {
  width: 100%;
  border-radius: 0px;
}

.noBorder {
  border: 0px !important; // Override bootstrap borders for .panel
}

// Our Sass
/*
* The top of the page
*/

.pane {
  padding: 15px 0px 15px 0px;
  /* Choose the number of: */
  font-family: HelveticaNeue;
  font-size: 16px;
  color: #333333;
  line-height: 27px;
}

.titlePane {
  background-color: rgba(0, 86, 149, 1);
  text-align: center;
  font-weight: bold;
  font-size: 39px;
  color: #F8F8F8;
  line-height: 47px;
  padding: 15px 0px 15px 0px;
  display: none;
  @include respond-to(small) {
    display: block;
  }
}

.imagePane {
  @include background-image(url("/public/assets/img/background.png"));
  background-size: cover;
  height: 340px;
}

.storyPane {
  background-color: rgba(0, 86, 149, 1);
  /* The UK will contribu: */
  font-size: 16px;
  color: #FFFFFF;
  line-height: 27px;
}

// Building Family
.familyPane {
  background-color:rgba(202, 229, 249, 1);
}

.familyMember {
  padding: 0px 2px 4px 0px;
}

// income slider
.incomeSliderPane {
  background-color: rgba(236, 243, 248, 1);
}

// eligibility
.elgibilityPane {
  background-color: rgba(247, 248, 249, 1);
}

// Below that
.subHead {
  font-weight: bold;
}

.family {
	border: 1px solid #979797;
	text-align: center;
	padding: 10px 5px;
}

.familyChoice {
		min-height: 50px;
}

// For scroll purposes
.pane {
  //min-height: 400px;
}

// Bar Chart
.bar:hover {
  fill: rgba(165, 42, 42, 1);
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

// Toggle Choices
.toggle {
	.value {
		font-size: 25pt;
    padding: 15px 0px 0px 0px;
	}
	.value, .choice {
		text-align: center;
	}
  .disabled {
    color: rgba(233, 233, 233, 1);
    cursor: not-allowed;
    display: none;
  }
}

.eligible {
  color: green;
}
.not-eligible {
  color: red;
}
