// Sexy mixins
@import "bourbon";
$breakpoints: (
  'mobile':  400px,
  'small'  : 767px,
  'medium' : 992px,
  'large'  : 1200px
);

@mixin respond-to($breakpoint) {
  // Retrieves the value from the key
  $value: map-get($breakpoints, $breakpoint);

  // If the key exists in the map
  @if $value != null {
    // Prints a media query based on the value
    @media (min-width: $value) {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}
//Color Variables

$light-blue: rgba(148, 206, 227, 1);
$blue: rgba(60, 154, 174, 1);
$red: rgba(228, 79, 78, 1);
$light-green: rgba(157, 210, 121, 1);
$green: rgba(53, 147, 124, 1);
$orange: rgba(252, 145, 87, 1);

$light-blue-light: lighten($light-blue, 20%);
$blue-light: lighten($blue, 20%);
$red-light: lighten($red, 20%);
$light-green-light: lighten($light-green, 20%);
$green-light: lighten($green, 20%);
$orange-light: lighten($orange, 20%);

// Modifying base styles
h1 {
  /* Housing Adjustment: */
  font-weight: bold;
  font-size: 39px;
  color: #333333;
  line-height: 47px;
}

hr {
  border-color: $light-blue;
}

// Modifying Bootstrap
body {
  padding-top: 50px; // because we have the fixed top
}

[class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.container-fluid {
  margin: 0;
  padding: 0;
}

.navbar {
	border-radius: 0px;
	background-color: rgba(239, 239, 239, 1);
	background-image: none; // get rid of the gradient
  text-align: center;
}

.navbar-brand {
  text-align: center;
  float: none;
}

.panel {
  width: 100%;
  border-radius: 0px;
}

.noBorder {
  border: 0px !important; // Override bootstrap borders for .panel
}

// Our Sass
/*
* The top of the page
*/

.pane {
  padding: 15px 0px 15px 0px;
  /* Choose the number of: */
  font-family: HelveticaNeue;
  font-size: 16px;
  color: #333333;
  line-height: 27px;
}

.titlePane {
  background-color: rgba(0, 86, 149, 1);
  text-align: center;
  font-weight: bold;
  font-size: 39px;
  color: #F8F8F8;
  line-height: 47px;
  padding: 15px 0px 15px 0px;
  display: none;
  @include respond-to(small) {
    display: block;
  }
}

.imagePane {
  @include background-image(url("/public/assets/img/background.png"));
  background-size: cover;
  height: 340px;
}

.storyPane {
  background-color: rgba(0, 86, 149, 1);
  /* The UK will contribu: */
  font-size: 16px;
  color: #FFFFFF;
  line-height: 27px;
}

.footerPane {
  background-color: rgba(1, 45, 64, 1);
  /* The UK will contribu: */
  font-size: 16px;
  color: #FFFFFF;
  line-height: 27px;
  min-height: 160px;
}

// Building Family
.familyPane {
  background-color:rgba(202, 229, 249, 1);
}

.familyMember {
  padding: 0px 2px 4px 0px;
}

// income slider
.incomeSliderPane {
  background-color: rgba(236, 243, 248, 1);
}

// eligibility
.elgibilityPane {
  background-color: rgba(247, 248, 249, 1);
}

// Below that
.subHead {
  font-weight: bold;
}

.family {
	border: 1px solid #979797;
	text-align: center;
	padding: 10px 5px;
}

.familyChoice {
		min-height: 50px;
}

.storyBoard {
  margin-top: 10px;
  @include background-image(url("/public/assets/img/kitten.jpg"));
  background-size: cover;
}



//Benefits Tags
.BenefitsList {
  text-align: center;

  .benefits-program-tag {
    font-size: 16px;
    padding: 10px 15px 0px 15px;
    margin: 5px;
    display: inline-block;
    border-radius: 4px;
  }
  .eligible {
    .benefits-program-tag {
      color: white;
      background-color: green;

      &.light-blue {
        background-color: $light-blue;
      }
      &.blue {
        background-color: $blue;
      }
      &.green {
        background-color: $green;
      }
      &.light-green {
        background-color: $light-green;
      }
      &.red {
        background-color: $red;
      }
      &.orange {
        background-color: $orange;
      }

    }
  }
  .ineligible {
    .benefits-program-tag {
      color: white;
      background-color: lightgray;
    }
  }
}

// For scroll purposes
.pane {
  //min-height: 400px;
}

.bar {
  &.light-blue {
    fill:  darken($light-blue, 15%);
  }
  &.blue {
    fill:  darken($blue, 15%);
  }
  &.green {
    fill:  darken($green, 15%);
  }
  &.light-green {
    fill:  darken($light-green, 15%);
  }
  &.red {
    fill:  darken($red, 15%);
  }
  &.orange {
    fill:  darken($orange, 15%);
  }

  &.light-blue-light {
    fill:  $light-blue-light;
  }
  &.blue-light {
    fill:  $blue-light;
  }
  &.green-light {
    fill:  $green-light;
  }
  &.light-green-light {
    fill:  $light-green-light;
  }
  &.red-light {
    fill:  $red-light;
  }
  &.orange-light {
    fill:  $orange-light;
  }
}

// Bar Chart
.bar:hover {
  &.light-blue {
    fill:  darken($light-blue, 20%);
  }
  &.blue {
    fill:  darken($blue, 20%);
  }
  &.green {
    fill:  darken($green, 20%);
  }
  &.light-green {
    fill:  darken($light-green, 20%);
  }
  &.red {
    fill:  darken($red, 20%);
  }
  &.orange {
    fill:  darken($orange, 20%);
  }
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

// Toggle Choices
.toggle {
	.value {
		font-size: 25pt;
    padding: 15px 0px 0px 0px;
	}
	.value, .choice {
		text-align: center;
	}
  .disabled {
    color: rgba(51, 51, 51, .8);
    cursor: not-allowed;
    //display: none;
  }
}

.eligible {
  color: green;
}
.not-eligible {
  color: red;
}
